# Ignore Roadiz tools and cache for
# creating a docker image
.dockerignore
.DS_Store
.git
.github
.gitignore
.gitlab-ci.yml
.gitmodules
.idea
.data
.sass-cache
tests
README.md
Dockerfile
Dockerfile.archive
docker-compose.yml

*/temp*
*/*/temp*
docker
.vagrant
.data
.idea
app/sessions/*
app/logs/*
app/cache/*
app/gen-src/*
app/conf/config.yml
app/*.zip
app/*.sql
app/*.tar.gz
*.zip
*.sql
*.log
*.tar.gz
themes/*/build
themes/*/node_modules
themes/*/app
*/*/*/node_modules
files/*
web/files/*
*/*/*/src-img
*/*/src-img
*/*.log
Vagrantfile
pimple.json

!vendor
!app/gen-src/GeneratedNodeSources/.gitignore
!app/gen-src/Proxies/.gitignore
!docker/php-nginx-alpine/crontab.txt
!docker/php-nginx-alpine/before_launch.sh
!themes/BaseTheme/static
!themes/BaseTheme/Resources/views/partials/*
!themes/BaseTheme/Resources/views/base.html.twig
!web/themes/*